[Desktop Entry]
Name=Checkbox
Name[zh_CN]=测试工具盒
Comment=System testing utility for Ubuntu
Comment[zh_CN]=Ubuntu 系统测试工具
Exec=qmlscene --settings=/usr/share/checkbox-converged/settings.json $@ /usr/share/checkbox-converged/checkbox-touch.qml
Icon=checkbox-touch.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
