[Desktop Entry]
Exec=cinnamon-settings region
Icon=cs-language
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;X-Cinnamon-Settings-Panel;X-Cinnamon-PersonalSettings
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Settings-Panel=region
# Translators: those are keywords for the region control-center panel
Keywords=Language;Layout;Keyboard;
NoDisplay=true
Name=Region & Language
Name[zh_CN]=区域和语言
Comment=Change your region and language settings
Comment[zh_CN]=改变您的区域和语言设置
X-Ubuntu-Gettext-Domain=cinnamon-control-center
