[Desktop Entry]
Exec=cinnamon-settings network
Icon=cs-network
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Settings-Panel=network
# Translators: those are keywords for the network control-center panel
Keywords=Network;Wireless;IP;LAN;Proxy;
Name=Network
Name[zh_CN]=网络
Comment=Network settings
Comment[zh_CN]=网络设置
X-Ubuntu-Gettext-Domain=cinnamon-control-center
