[Desktop Entry]
Type=Application
Name=Screensaver
Name[zh_CN]=屏幕保护程序
Comment=Launch screensaver and locker program
Comment[zh_CN]=启动屏保和锁屏程序
Icon=preferences-desktop-screensaver
Exec=cinnamon-screensaver
OnlyShowIn=X-Cinnamon;
NoDisplay=true
X-GNOME-Autostart-Delay=20
X-GNOME-Autostart-Phase=Application
X-GNOME-Autostart-Notify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=cinnamon-screensaver
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.0.1
X-Ubuntu-Gettext-Domain=cinnamon-screensaver
