[Desktop Entry]
Name=Online Accounts
Name[zh_CN]=在线账户
Comment=Online account credentials and settings
Comment[zh_CN]=管理在线账户凭据和设置
Exec=credentials-preferences
Icon=credentials-preferences
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=Unity
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-PersonalSettings;
X-Ubuntu-Gettext-Domain=credentials-control-center
