[Desktop Entry]
Name=Web
Name[zh_CN]=Epiphany 浏览器
GenericName=Web Browser
GenericName[zh_CN]=网络浏览器
X-GNOME-FullName=Epiphany Web Browser
Comment=Browse the web
Comment[zh_CN]=浏览网络
Keywords=web;browser;internet;
Exec=epiphany %U
StartupNotify=true
Terminal=false
Type=Application
Icon=web-browser
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;multipart/related;application/x-mimearchive;message/rfc822;
Actions=Incognito;
X-Ubuntu-Gettext-Domain=epiphany

[Desktop Action Incognito]
Name=New Incognito Window
Exec=epiphany --incognito-mode
