[Desktop Entry]
Name=Keyboard Layout
Name[zh_CN]=键盘布局
Comment=Preview keyboard layouts
Comment[zh_CN]=查看键盘布局
Icon=preferences-desktop-keyboard
Exec=gkbd-keyboard-display
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=libgnomekbd
X-GNOME-Bugzilla-Component=Drawing
X-GNOME-Bugzilla-Version=3.6.0
Categories=GNOME;GTK;Core;System;
OnlyShowIn=GNOME;
X-Ubuntu-Gettext-Domain=libgnomekbd
