[Desktop Entry]
Name=Personal File Sharing
Name[zh_CN]=分享个人文件
Comment=Preferences for sharing of files
Comment[zh_CN]=文件分享的首选项
Exec=gnome-file-share-properties
Icon=folder-remote
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Settings;X-GNOME-NetworkSettings;
OnlyShowIn=Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-user-share
X-GNOME-Bugzilla-Component=general
X-GNOME-UsesNotifications=true
X-Ubuntu-Gettext-Domain=gnome-user-share
