[Desktop Entry]
Name=Mines
Name[zh_CN]=扫雷
Comment=Clear hidden mines from a minefield
Comment[zh_CN]=清除雷场中埋藏的地雷
Exec=gnome-mines
Icon=gnome-mines
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
Keywords=minesweeper;
StartupNotify=true
Actions=Small;Medium;Big;
X-Ubuntu-Gettext-Domain=gnome-mines

[Desktop Action Small]
Name=Small board
Exec=gnome-mines --small

[Desktop Action Medium]
Name=Medium board
Exec=gnome-mines --medium

[Desktop Action Big]
Name=Big board
Exec=gnome-mines --big
