[Desktop Entry]
Name=Personal File Sharing
Name[zh_CN]=分享个人文件
Comment=Launch Personal File Sharing if enabled
Comment[zh_CN]=启动个人文件分享（如果该功能已启用）
Keywords=share;files;bluetooth;obex;http;network;copy;send;
AutostartCondition=GSETTINGS org.gnome.desktop.file-sharing enabled
Icon=folder-remote
Exec=/usr/lib/gnome-user-share/gnome-user-share-webdav
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;Unity;
NoDisplay=true
X-GNOME-Autostart-Delay=15
X-Ubuntu-Gettext-Domain=gnome-user-share
