[Desktop Entry]
Type=Application
Name=Panel
Name[zh_CN]=面板
Comment=Launch other applications and provide various utilities to manage windows, show the time, etc.
Comment[zh_CN]=启动其他程序，并提供用于管理窗口、显示时间等操作的工具
Icon=gnome-panel
Exec=gnome-panel
Terminal=false
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-panel
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.2
Categories=GNOME;GTK;System;Core;
OnlyShowIn=GNOME-Flashback;
NoDisplay=true
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-Phase=Panel
X-GNOME-Provides=panel
X-Ubuntu-Gettext-Domain=gnome-panel-3.0
