[Desktop Entry]
Encoding=UTF-8
Name=Serial port terminal
Name[fr]=Terminal pour port série
Name[it]=Terminale per porta seriale
Name[zh_CN]=串口通讯终端
Comment=Communicate with the serial port
Comment[fr]=Communique avec le port série
Comment[it]=Comunica con la porta seriale
Comment[zh_CN]=通过串行端口进行通许
Exec=gtkterm
Icon=gtkterm.xpm
Terminal=false
Type=Application
Categories=GTK;Utility;
