[Desktop Entry]
Name=Language Support
Name[zh_CN]=语言支持
Comment=Configure multiple and native language support on your system
Comment[zh_CN]=配置本地和多语言支持
Exec=/usr/bin/gnome-language-selector
Icon=preferences-desktop-locale
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;X-GNOME-PersonalSettings
X-Ubuntu-Gettext-Domain=language-selector
NotShowIn=KDE;
X-GNOME-Settings-Panel=language
X-Unity-Settings-Panel=language
Keywords=Language;Input method;Region;Format;
