[Desktop Entry]
Name=Files
Name[zh_CN]=文件
Comment=Access and organize files
Comment[zh_CN]=访问和管理文件
Exec=nautilus --new-window %U
Icon=system-file-manager
Terminal=false
NoDisplay=true
Type=Application
StartupNotify=true
OnlyShowIn=GNOME;Unity;
Categories=GNOME;GTK;Utility;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.2.1
X-Ubuntu-Gettext-Domain=nautilus
