[Desktop Entry]
Name=Screen Reader
Name[zh_CN]=屏幕阅读器
GenericName=Screen Reader
GenericName[zh_CN]=屏幕阅读器
X-GNOME-FullName=Orca Screen Reader
Comment=Provide access to graphical desktop environments via synthesized speech and/or refreshable braille
Comment[zh_CN]=通过同步语音和可刷新盲文方便残疾人士使用图形化环境
Keywords=screen reader;speech;braille;
Exec=orca --replace
Icon=orca
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
NotShowIn=Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=orca
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=orca

