[Desktop Entry]
Version=1.0
Name=Remmina
Name[zh_CN]=Remmina 远程桌面
GenericName=Remote Desktop Client
GenericName[zh_CN]=远程桌面客户端
X-GNOME-FullName=Remmina Remote Desktop Client
Comment=Connect to remote desktops
Comment[zh_CN]=链接到远程桌面
TryExec=remmina
Exec=remmina
Icon=remmina
Terminal=false
Type=Application
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;
Actions=Profile;Tray;
Keywords=remote desktop;rdp;vnc;nx,ssh;VNC;XDMCP;RDP;
X-Ubuntu-Gettext-Domain=remmina

[Desktop Action Profile]
Name=Create a New Connection Profile
Exec=remmina --new

[Desktop Action Tray]
Name=Start Remmina Minimized
Exec=remmina --icon
