[Desktop Entry]
Name=Passwords and Keys
Name[zh_CN]=密码和密钥
Comment=Manage your passwords and encryption keys
Comment[zh_CN]=管理密码和加密密钥
Keywords=keyring;encryption;security;sign;ssh;
Exec=/usr/bin/seahorse
Terminal=false
Type=Application
Icon=seahorse
Categories=GNOME;GTK;Security;Utility;DesktopSettings;X-XFCE-SettingsDialog;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.18.0
X-GNOME-DocPath=seahorse/seahorse.xml
X-Ubuntu-Gettext-Domain=seahorse
