[Desktop Entry]
Name=Software & Updates
Name[zh_CN]=软件和更新
GenericName=Software & Updates
GenericName[zh_CN]=软件和更新
Comment=Configure the sources for installable software and updates
Comment[zh_CN]=配置安装和更新所用的源
Keywords=Drivers;Repositories;Repository;PPA;
Exec=software-properties-gtk
Icon=software-properties
Terminal=false
X-MultipleArgs=false
Type=Application
OnlyShowIn=GNOME;
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;
MimeType=text/x-apt-sources-list;
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=software-properties
