[Desktop Entry]
Name=AisleRiot Solitaire
Name[zh_CN]=纸牌王
Comment=Play many different solitaire games
Comment[zh_CN]=体验不同的接龙游戏
Exec=/usr/games/sol
Icon=gnome-aisleriot
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;CardGame;
Keywords=solitaire;cards;klondike;spider;freecell;patience;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=aisleriot
X-GNOME-Bugzilla-Component=Zwischenlager
X-GNOME-Bugzilla-Version=3.18.2
StartupNotify=true
X-Ubuntu-Gettext-Domain=aisleriot
