[Desktop Entry]
Name=System Settings
Categories=System;
Categories[aa]=Siira;
Categories[am]=ስርአት:
Categories[ast]=Sistema;
Categories[be]=Сістэма;
Categories[br]=Reizhiad;
Categories[bs]=Sistem
Categories[ca]=Sistema;
Categories[ca@valencia]=Sistema;
Categories[cs]=Systém
Categories[cy]=System;
Categories[da]=System;
Categories[de]=System;
Categories[el]=Σύστημα;
Categories[en_AU]=System;
Categories[en_GB]=System;
Categories[eo]=Sistemo
Categories[es]=Sistema;
Categories[eu]=Sistema;
Categories[fa]=System;
Categories[fi]=System;Järjestelmä;
Categories[fr]=Système;
Categories[ga]=Córas;
Categories[gd]=System;Siostam;
Categories[gl]=Sistema;
Categories[he]=מערכת;
Categories[hr]=Sustav;
Categories[hu]=Rendszer;
Categories[ia]=Systema;
Categories[id]=Sistem;
Categories[is]=Kerfi;
Categories[it]=Sistema;
Categories[ja]=System:システム;
Categories[ko]=System;시스템;
Categories[lv]=Sistēma;
Categories[ms]=Sistem;
Categories[nb]=System;
Categories[nl]=System;Systeem;
Categories[oc]=Sistèma ;
Categories[pa]=ਸਿਸਟਮ;
Categories[pl]=System;
Categories[pt]=Sistema;
Categories[pt_BR]=Sistema;
Categories[ro]=Sistem;
Categories[ru]=Система;
Categories[sl]=Sistem;
Categories[sq]=Sistemi;
Categories[sr]=Систем;
Categories[sv]=System;
Categories[tr]=Sistem;
Categories[ug]=سىستېما;
Categories[uk]=Система:
Categories[zh_CN]=系统;
Categories[zh_TW]=System;系統;
Keywords=Preferences;Settings;
Icon=/usr/share/ubuntu/settings/system/system-settings.png
Exec=system-settings %u
Terminal=false
Type=Application
StartupNotify=true
X-Screenshot=/usr/share/ubuntu/settings/system/screenshot.png
X-Ubuntu-Gettext-Domain=ubuntu-system-settings
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Splash-Show-Header=true
