[Desktop Entry]
Name=Text Entry
Name[zh_CN]=文字输入
Comment=Change your keyboard or input method settings
Comment[zh_CN]=配置键盘或输入法
Exec=unity-control-center region
Icon=preferences-desktop-keyboard-shortcuts
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-Unity-Settings-Panel;X-GNOME-PersonalSettings
OnlyShowIn=Unity;
X-Unity-Settings-Panel=region
# Translators: those are keywords for the region control-center panel
Keywords=Language;Layout;Keyboard;Input Method;Text Entry;
X-Ubuntu-Gettext-Domain=unity-control-center
