[Desktop Entry]
Name=Color
Name[zh_CN]=色彩
Comment=Color management settings
Comment[zh_CN]=色彩配置
Exec=unity-control-center color
Icon=unity-color-panel
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-Unity-Settings-Panel;HardwareSettings
OnlyShowIn=Unity;
X-Unity-Settings-Panel=color
# Translators: those are keywords for the color control-center panel
Keywords=Color;ICC;Profile;Calibrate;Printer;Display;
X-Ubuntu-Gettext-Domain=unity-control-center
