[Desktop Entry]
Name=Bluetooth
Name[zh_CN]=蓝牙
Comment=Configure Bluetooth settings
Comment[zh_CN]=配置蓝牙
Icon=bluetooth
Exec=unity-control-center bluetooth
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;X-GNOME-NetworkSettings;HardwareSettings;X-Unity-Settings-Panel;
OnlyShowIn=Unity;
StartupNotify=true
X-Unity-Settings-Panel=bluetooth
X-Ubuntu-Gettext-Domain=unity-control-center
