[Desktop Entry]
Name=Network
Name[zh_CN]=网络
Comment=Network settings
Comment[zh_CN]=网络设置
Exec=unity-control-center network
Icon=network-workgroup
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-Unity-Settings-Panel;
OnlyShowIn=Unity;
X-Unity-Settings-Panel=network
# Translators: those are keywords for the network control-center panel
Keywords=Network;Wireless;IP;LAN;Proxy;
X-Ubuntu-Gettext-Domain=unity-control-center
