[Desktop Entry]
Name=Desktop Sharing
Name[zh_CN]=桌面共享
Comment=Choose how other users can remotely view your desktop
Comment[zh_CN]=让其他用户远程查看桌面内容
Exec=vino-preferences
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
OnlyShowIn=GNOME;LXDE;Unity;MATE;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vino
X-GNOME-Bugzilla-Component=Preferences Dialog
X-GNOME-Bugzilla-Version=3.8.1
X-Ubuntu-Gettext-Domain=vino
