[Desktop Entry]
Version=1.0
Name=Browser
Name[zh_CN]=浏览器
GenericName=Web Browser
GenericName[zh_CN]=网络浏览器
Comment=Browse the World Wide Web
Comment[zh_CN]=浏览互联网
Keywords=Internet;WWW;Browser;Web;Explorer
Type=Application
Icon=/usr/share/webbrowser-app/webbrowser-app.png
Exec=webbrowser-app %u
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
X-Ubuntu-Touch=true
X-Ubuntu-Gettext-Domain=webbrowser-app
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=web-browsers
X-Screenshot=/usr/share/webbrowser-app/screenshot.png
X-Ubuntu-Splash-Color=#FFFFFF
