[Desktop Entry]
Name=Image Viewer
Name[zh_CN]=图片查看器
Comment=Browse and rotate images
Comment[zh_CN]=浏览和旋转图片
TryExec=xviewer
Exec=xviewer %U
Icon=xviewer
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=XVIEWER
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=1.0.5
X-GNOME-DocPath=xviewer/xviewer.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
# Extra keywords that can be used to search for xviewer in GNOME Shell and Unity
Keywords=Picture;Slideshow;Graphics;
Keywords[am]=ምስሎች:ተንሸራታች ማሳያ:ንድፎች
Keywords[an]=Foto;Diapositivas;Graficos;
Keywords[ar]=صورة;رسوميات;عرض شرائح;
Keywords[as]=ছবি;স্লাইডশ্ব;গ্ৰাফিক্স;
Keywords[be]=Выява;Слайдшоў;Графіка;
Keywords[bg]=Изображение;Снимка;Графика;Картина;Разглеждане;Прожекция;Picture;Slideshow;Graphics;
Keywords[bs]=Picture;Slideshow;Graphics;
Keywords[ca]=Fotografia;Diapositives;Gràfics;
Keywords[ca@valencia]=Fotografia;Diapositives;Gràfics;
Keywords[cs]=obrázek;fotka;promítání snímků;prezentace snímků;grafika;
Keywords[da]=Billede;Foto;Fotografi;Præsentation;Slideshow;Grafik;
Keywords[de]=Bild;Diaschau;Diashow;Grafik;
Keywords[el]=Εικόνα;Αλληλουχία εικόνων;Γραφικά;Picture;Slideshow;Graphics;
Keywords[en_GB]=Picture;Slideshow;Graphics;
Keywords[eo]=Bildo;Lumbildprezentado;Grafiko;
Keywords[es]=Foto;Diapositivas;Gráficos;
Keywords[et]=Pilt;Foto;Slaidiesitlus;Graafika;
Keywords[eu]=Argazkia;diapositiba-aurkezpena;Grafikoak;
Keywords[fa]=عکس;نمایش اسلایدی;گرافیک;
Keywords[fi]=Kuva;Kuvaesitys;Grafiikka;
Keywords[fr]=Image;Diaporama;Graphiques;Photographie;
Keywords[fur]=Figure;Diapositive;Grafics;
Keywords[gd]=Dealbh;Taisbeanadh-shleamhnagan; Grafaigeachd;Picture;Slideshow;Graphics;
Keywords[gl]=Foto;Diapositivas;Gráficos;
Keywords[gu]=ચિત્ર;સ્લાઇડ શો;ગ્રાફિક;
Keywords[he]=תמונה;מצגת;גרפיקה;
Keywords[hi]=चित्र;स्लाइड शो;ग्राफिक्स;
Keywords[hr]=Slika;Prezentacija;Grafika;
Keywords[hu]=Kép;Diavetítés;Grafika;Bemutató;
Keywords[ia]=Photo;Presentation;Graphicos;
Keywords[id]=Gambar;Slideshow;Grafis;
Keywords[is]=Mynd;Skyggnusýning;Myndefni;
Keywords[it]=Immagini;Diapositive;Grafica;
Keywords[ja]=Picture;Slideshow;Graphics;写真;画像;スライドショー;グラフィックス;ImageViewer;
Keywords[kk]=Сурет;Слайдшоу;Графика;
Keywords[km]=ការ​បញ្ចាំង​ស្លាយ;
Keywords[kn]=ಚಿತ್ರ;ಜಾರುಫಲಕಪ್ರದರ್ಶನ;ಗ್ರಾಫಿಕ್ಸ್;
Keywords[ko]=Picture;그림;사진;이미지;Slideshow;슬라이드쇼;Graphics;그래픽;
Keywords[lt]=Paveikslėlis;Demonstracija;Skaidrės;Grafika;
Keywords[lv]=Attēli;Bildes;Slīdrāde;Slaidrāde;Grafika;Fotogrāfijas;Picture;Slideshow;Graphics;
Keywords[ml]=ചിത്രം;സ്ലൈഡ്ഷോ;ഗ്രാഫിക്സ്;
Keywords[mr]=Picture;Slideshow;Graphics;
Keywords[nb]=Bilde;Lysbilder;Grafikk;
Keywords[nl]=Foto;Diavoorstelling;Afbeeldingen;
Keywords[pa]=ਤਸਵੀਰ;ਫੋਟੋ,ਸਲਾਈਡ-ਸ਼ੋ;ਗਰਾਫਿਕਸ;
Keywords[pl]=Obraz;Obrazek;Pokaz;slajdów;Grafika;
Keywords[pt]=Imagem;Apresentação;Gráficos;
Keywords[pt_BR]=Fotos;Apresentação de slides;Gráficos;
Keywords[ro]=Imagine;Prezentare diapozitive;Grafică;
Keywords[ru]=Изображение;Слайд-шоу;Графика;
Keywords[sk]=Obrázok;Prezentácia;Grafika;Prehliadanie;
Keywords[sl]=Slike;Predstavitev;Grafika;Fotografije;
Keywords[sr]=слика;покретни приказ;графика;
Keywords[sr@latin]=slika;pokretni prikaz;grafika;
Keywords[sv]=Bild;Bildspel;Grafik;
Keywords[ta]=படங்கள்;லைட்ஷோ;வரகலை;
Keywords[te]=చిత్రం;పలకప్రదర్శన;చిత్రరూపాలు;
Keywords[tg]=Тасвир;Намоиши слайдҳо;Графика;
Keywords[th]=รูป;ภาพ;สไลด์;กราฟิกส์;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Görseller;
Keywords[ug]=Picture;Slideshow;Graphics;سۈرەت;تام تەسۋىر;گرافىك;
Keywords[uk]=Малюнок;Слайд-шоу;Графіка;
Keywords[ur]=تصویر؛سلائڈشو؛گرافکس
Keywords[vi]=Picture;Hình;ảnh;Hinh;Anh;Slideshow;Trình;diễn;Trinh;Dien;Graphics;Đồ;hoạ;họa;Do;Hoa;
Keywords[zh_CN]=Picture;Slideshow;Graphics;图片;幻灯片;图像;
Keywords[zh_HK]=Picture;Slideshow;Graphics;照片;投影片;影像;
Keywords[zh_TW]=Picture;Slideshow;Graphics;照片;投影片;影像;
X-Ubuntu-Gettext-Domain=xviewer
