[Desktop Entry]
Name=Help
Comment=Launch help browser
Keywords=documentation;information;manual;
Keywords[ar]=توثيق;معلومات;كتيب;
Keywords[as]=তথ্যচিত্ৰ;তথ্য;হাতপুথি;
Keywords[be]=дакументацыя;інфармацыя;звесткі;падручнік;дапаможнік;інструкцыя;
Keywords[ca]=documentació;informació;manual;
Keywords[ca@valencia]=documentació;informació;manual;
Keywords[cs]=dokumentace;informace;příručka;manuál;návod;
Keywords[da]=dokumentation;information;manual;håndbog;
Keywords[de]=Dokumentation;Information;Handbuch;
Keywords[el]=τεκμηρίωση;πληροφορίες;εγχειρίδιο;
Keywords[eo]=dokumentado;informo;manlibro;gvidilo;
Keywords[es]=documentación;información;manual;
Keywords[et]=dokumentatsioon;informatsioon;manuaal;käsiraamat;juhend;juhised;
Keywords[eu]=dokumentazioa;informazioa;eskuliburua;
Keywords[fa]=مستندات;اطلاعات;راهنما;
Keywords[fi]=documentation;information;manual;dokumentaatio;manuaali;ohje;
Keywords[fr]=documentation;information;manuel;
Keywords[gl]=documentación;información;manual;
Keywords[gu]=દસ્તાવેજીકરણ;જાણકારી;પુસ્તિકા;
Keywords[he]=תיעוד;פרטים;מידע;מדריך;
Keywords[hi]=दस्तावेजीकरण;सूचना;मैनुअल;
Keywords[hu]=dokumentáció;információ;kézikönyv;
Keywords[id]=dokumentasi;informasi;manual;
Keywords[it]=documentazione;informazioni;manuali;aiuto;
Keywords[ja]=documentation;information;manual;ドキュメンテーション;ドキュメント;情報;マニュアル;help;ヘルプ;
Keywords[kn]=ದಸ್ತಾವೇಜೀಕರಣ;ಮಾಹಿತಿ;ಕೈಪಿಡಿ;
Keywords[ko]=documentation;문서;information;정보;manual;설명서;매뉴얼;
Keywords[lt]=dokumentacija;informacija;vadovas;žinynas;
Keywords[lv]=dokumentācija;informācija;rokasgrāmata;
Keywords[ml]=പ്രമാണശേഖരണം;വിവരം;ഉപയോഗസഹായി
Keywords[mr]=दस्तऐवजीकरण;माहिती;पुस्तिका;
Keywords[nb]=dokumentasjon;informasjon;håndbok;
Keywords[or]=ଦଲିଲିକରଣ;ସୂଚନା;ହସ୍ତକୃତ;
Keywords[pa]=ਦਸਤਾਵੇਜ਼;ਜਾਣਕਾਰੀ;ਕਿਤਾਬਚਾ;documentation;information;manual;
Keywords[pl]=dokumentacja;informacje;podręcznik;przewodnik;manual;
Keywords[pt]=documentação;informação;manual;
Keywords[pt_BR]=documentação;informação;informações;manual;
Keywords[ro]=documentation;intormation;manual;documentație;informație;
Keywords[ru]=документация;информация;руководство;
Keywords[sk]=dokumentácia;informácie;návod;
Keywords[sl]=dokumentacija;podrobnosti;informacije;priročnik;vodnik;
Keywords[sr]=документација;подаци;упутство;
Keywords[sr@latin]=dokumentacija;podaci;uputstvo;
Keywords[ta]=documentation;information;manual;
Keywords[te]=పత్రకీకరణ;సమాచారం;మాన్యువల్;
Keywords[tg]=санад;иттилоот;дастур;
Keywords[th]=เอกสาร;สารสนเทศ;คู่มือ;
Keywords[tr]=belgelendirme;bilgi;kılavuz;
Keywords[ug]=documentation;information;manual;قوللانما;ئۇچۇر;پۈتۈك;
Keywords[uk]=документація;інформація;посібник;
Keywords[zh_CN]=documentation;information;manual;文档;信息;手册;帮助;指南;
Keywords[zh_HK]=documentation;information;manual;文件;資訊;手冊;
Keywords[zh_TW]=documentation;information;manual;文件;資訊;手冊;
Exec=yelp %u
Icon=help-browser
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;Utility;
MimeType=x-scheme-handler/ghelp;x-scheme-handler/help;x-scheme-handler/info;x-scheme-handler/man;
X-Ubuntu-Gettext-Domain=yelp

NoDisplay=true
